{
  "NodeJSApp": {
    "host": "DBHOST",
    "port": 3306,
    "url": "",
    "database": "DBNAME",
    "password": "DBPASS",
    "name": "NodeJSApp",
    "user": "DBUSER",
    "connector": "mysql"
  }
}