button.tb-active {
    box-shadow: 0 3px 0 #1CAF9A;
    color: #1CAF9A !important;
    background: none;
}

.user-content {
 text-align: center;
 margin: 10px auto !important;
}
.user-content .user-tabs {
 float: none;
 margin: auto;
 width: 80%;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}