button.tb-active {
    box-shadow: 0 3px 0 #1CAF9A;
    color: #1CAF9A !important;
    background: none;
}

.user-content {
 text-align: center;
 margin: 10px auto !important;
}
.user-content .user-tabs {
 float: none;
 margin: auto;
 width: 80%;
}

.support-content {
 margin: 10px auto;
}
.support-content textarea {
 min-height: 200px;
}
.msg-row {
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 6px;
}
.msg-time {
 font-size: 12px;
}
.msg-user {
 font-weight:bold;
}
.msg-issue {
 text-align: right;
 margin-top: -6px;
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {

}