
.createOrderPanel .submit-error{
	color: #ff0000;
}

.createOrderPanel .give-row input.form-control,
.createOrderPanel .give-row select.form-control,
.createOrderPanel .get-row input.form-control,
.createOrderPanel .get-row select.form-control{
	width: 200px !important;
    margin-right: 10px;
    margin-bottom: 5px;
}

.createOrderPanel .rate-row input.form-control{
	width: 412px !important;
    margin-right: 10px;
    margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
	.createOrderPanel .rate-row input.form-control{
		width: 200px !important;
	}
}


.order-content  {ß
 text-align: center;
 margin: 10px auto !important;
}
.order-content .order-tabs {
 	float: none;
 	margin: auto;
 	width: 100%;
}
.order-status-1 {
	color: #6299e8;	
}
.order-status-2 {
	color: #159d21;
}
.order-status-3{
	
	color: #366144;
}
.order-status-4{
	color: #b17197;
}
.order-status-5{
	color: #fea340;
}
.order-status-6{
	color: #ff0658;
}

.order-content .user-status-0 {
	color: #159d21;
}

.order-content .user-status-1{
	color: #fea340;
}
.order-content .user-status-2{
	color: #9d000e;
}
.order-content .order-item-header {
	background: #cccccc;
	white-space: nowrap;
}
.order-content .order-item-content {
	text-align: left;
}
.button-order-list {
	float: left;
	border-radius: 5px;
	width: 60px;
	padding: 2px 5px;
	margin: 2px;
	font-size: 12px;	
}
.order-content .order-item-content.order-date {
	white-space: nowrap;
}
.button-order-list.button-cancel-swapping {
	background: #fea340;
	
}
.button-order-list.button-confirm-swapping {
	background: #159d21;
	color: #ffffff;
}
.button-order-list.button-cancel-confirm {
	background: #fea340;
	
}
.button-order-list.button-clear-confirm {
	background: #366144;
	color: #ffffff;
}
.button-order-list.button-cancel-submitted {
	background: #fea340;
	
}
.button-order-list.button-edit-submitted {
	background: #ff0658;
	color: #ffffff;
}

.order-action {
	position: relative;
	float: right;
	width: 130px;
}
.order-row-0 {
	background: white;
}
.order-row-1 {
	background: #e6e6e6;
}

/*Order detail start*/
.detailOrderPanel .panel .panel-title{
	color: #b17197;
    font-size: 22px;
    font-weight: bold;
}
.detailOrderPanel .panel .panel-body .row-order-status{
	display: inline-flex;
	margin-bottom: 20px;
}

.detailOrderPanel .panel .panel-body .row-order-status .col-order-status .order-status-label {
    width: 65px;
    text-align: center;
}

.detailOrderPanel .panel .panel-body .row-order-status .col-order-status .order-status-item{
	height : 12px;
	width: 12px;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px;
	margin: 3px auto;
	
}

.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-current .order-status-label{
	font-weight: bold;
}

.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-current .order-status-item{
	height: 16px;
	width: 16px;
	border-radius: 8px;
	margin: 1px auto;
}
.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-1.order-status-current .order-status-item {
	background-color: #6299e8;	
}
.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-2.order-status-current .order-status-item{
	background-color: #159d21;
}
.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-3.order-status-current .order-status-item{
	background-color: #366144;
}
.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-4.order-status-current .order-status-item{
	background-color: #b17197;
}
.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-5.order-status-current .order-status-item{
	background-color: #fea340;
}
.detailOrderPanel .panel .panel-body .row-order-status .col-order-status.order-status-6.order-status-current .order-status-item{
	background-color: #ff0658;
}

.detailOrderPanel .panel .panel-body .row-order-status .col-order-line .order-line{
	height : 2px;
	min-width: 20px;
	border-radius: 1px;
	margin: 8px -10px;
	background-color: #6b6b6b;
	width: 60px;
}

.detailOrderPanel .panel .panel-body .row-order-status .col-order-line.col-order-line-pass .order-line{
	height : 4px;
	margin: 7px -10px;
	background-color: #000000;
}

@media screen and (max-width: 640px) {
	.detailOrderPanel .panel .panel-body .row-order-status .col-order-line .order-line{
		width: 40px;
	}
}

@media screen and (max-width: 480px) {
	.detailOrderPanel .panel .panel-body .row-order-status .col-order-line .order-line{
		width: 20px;
	}
}

.detailOrderPanel .panel .panel-body .row-initialized .row-order-time .control-label span{
	font-weight: bold;
	margin-right: 10px;
}

.detailOrderPanel .panel .panel-body .row-initialized .row-order-actor .control-label span{
	font-weight: bold;
	margin-right: 10px;
}

.detailOrderPanel .panel .panel-body .row-initialized .row-order-actor .row-order-actor-accepter span.row-order-actor-accepter-value{
	font-weight: normal;
	color: #6299e8;
}

.detailOrderPanel .panel .panel-body .row-initialized .row-give .row-title-give{
	font-weight: bold;
	color: #366144;
}

.detailOrderPanel .panel .panel-body .row-initialized .row-get .row-title-get{
	font-weight: bold;
	color: #159d21;
}

.detailOrderPanel .panel .panel-body .row-initialized .row-rate .row-title-rate{
	font-weight: bold;
	color: #fea340;
}

.detailOrderPanel .row-activities .row-activities-title{
	font-weight: bold;
}

.detailOrderPanel .row-activities .activity-time{
	font-weight: bold;
}

.detailOrderPanel .row-activities .activity-creator.other-user-action{
	color: #6299e8;
}

/*Order detail end*/
