<section>
    <div class="support-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group my-profile">
                    <form class="form-vertical">
                        <div class="pull-left  formAvatar">
                            <div class="row">
                                <img class="avatar-size avatar-align" ng-src="/config/media/{{model.username}}?{{randomNumImg}}" alt="Mountain View">
                            </div>
                            <div class="row">
                                <a class = "avatar-align" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                   accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                    Change Avatar
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-1 pull-left">
                        <div class="row">
                            <h4 class="panel-title">{{model.fullName}}</h4>
                            <a href="#">{{model.email}}</a>
                        </div>
                      </div>
                </div>
                <fieldset ng-disabled="!isEditting">
                    <div class="panel-body panel-body-nopadding">
                        <form id="msgForm" name="msgForm" novalidate="novalidate">
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <input class="form-control" type="text" ng-model="model.username">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="fullname">Full Name</label>
                                <input ng-model="model.fullName" id="fullname" class="form-control"
                                       type="text">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Birthday</label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           is-open="calendarPicker.opened"
                                           datepicker-options="dateOptions"
                                           ng-model="model.birthday"
                                           close-text="Close"
                                           alt-input-formats="altInputFormats">
                            <span class="input-group-addon" style="height: 40px">
                                   <i class="glyphicon glyphicon-calendar" ng-click="openCalendar()"></i>
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Register Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           datepicker-options="dateOptions" ng-required="true"
                                           ng-model="model.registeredDate"
                                           close-text="Close" alt-input-formats="altInputFormats" readonly>
                            <span class="input-group-addon" style="height: 40px">
                                   <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Expried Date</label>
                                <input class="form-control" type="text"  uib-datepicker-popup="{{format}}" ng-model="model.expiredDate" readonly>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Cell phone</label>
                                <input class="form-control" type="text" ng-model="model.cellphone">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Passport ID</label>
                                <input class="form-control" type="text" ng-model="model.nationalId">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input class="form-control" type="text" ng-model="model.address">
                            </div>
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <input class="form-control" type="text" ng-model="model.city">
                            </div>
                            <div class="form-group">
                                <country-state-user country="model.country" state="model.state"></country-state-user>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Postcode</label>
                                <input class="form-control" type="text" ng-model="model.postcode">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Profession</label>
                                <input class="form-control" type="text" ng-model="model.profession">
                            </div>
                        </form>
                        <br>
                        <hr>
                        <h4 class="nomargin">Bank Account</h4>
                        <form id="msgFormBankInfo" name="msgForm" novalidate="novalidate">

                            <div class="form-group">
                                <label class="control-label">Account Number</label>
                                <input class="form-control" type="text" ng-model="model.bankAccountNumber">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Bank</label>
                                <input class="form-control" type="text" ng-model="model.bankName">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <input class="form-control" type="text" ng-model="model.bankCountry">
                            </div>
                        </form>
                        <div ng-if="isEditting">
                            <br>
                            <hr>
                            <h4 class="nomargin">Change Password</h4>
                            <form id="msgFormChangePass" name="msgForm" novalidate="novalidate">
                                <div class="form-group">
                                        <label class="control-label">Current Password</label>
                                        <input class="form-control" type="password" ng-model="model.currentPwd">
                                </div>
                                <div class="form-group" data-ng-class="{'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine}">
                                        <label class="control-label">New Password</label>
                                        <input class="form-control" type="password" name="password" data-ng-model="model.newPwd" ng-minlength="8">
                                        <p ng-show="registerForm.password.$error.minlength" class="help-block">Username is too short.</p>
                                </div>
                                <div class="form-group" data-ng-class="{'has-error' : registerForm.passwordCompare.$invalid && !registerForm.passwordCompare.$pristine}">
                                        <label class="control-label">Re-enter Password</label>
                                        <input class="form-control" type="password" name="passwordCompare" data-ng-model="model.passwordCompare" data-ng-match="model.newPwd"/>
                                        <span class="help-block" data-ng-show="registerForm.passwordCompare.$error.match">Passwords do not match.</span>
                                    </div>
                            </form>
                        </div>
                    </div>
                </fieldset>
                <div class="panel-footer">
                    <button class="btn btn-success center-block" ng-click="changeStateToEdit()" ng-if="!isEditting">EDIT
                    </button>
                    <button class="btn btn-success center-block" ng-click="saveUserInfo()" ng-if="isEditting">SAVE
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

