<div class="signinpanel" ng-hide="isResetSuccess">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div>
                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> {{title}} <span>]</span></h1>
                    </div><!-- logopanel -->
                </div><!-- signin0-info -->
            </div>
            <br>

            <form role="form" name="newPwdForm" novalidate="" ng-submit="submitNewPassword()">
                <!-- NEW PASSWORD FORM -->
                <div class="form-group" data-ng-class="{'has-error':!newPwdForm.password.$valid && !newPwdForm.password.$pristine}">
                    <input placeholder="New Password" class="form-control" type="password" name="password" required=""
                           data-ng-model="newPwdFormData.password"/>
                    <span class="help-block" data-ng-show="newPwdForm.password.length && newPwdForm.password.$error.required">This is required.</span>
                </div>
                <div class="form-group" data-ng-class="{'has-error':!newPwdForm.passwordCompare.$valid && !newPwdForm.passwordCompare.$pristine}">
                    <input placeholder="Password Confirmation" class="form-control" type="password" name="passwordCompare" required
                           data-ng-model="newPwdFormData.passwordCompare" data-ng-match="newPwdFormData.password"/>
                    <span class="help-block"
                          data-ng-show="!newPwdForm.passwordCompare.$pristine && newPwdForm.passwordCompare.$error.required">This is required.</span>
                    <span class="help-block" data-ng-show="newPwdFormData.passwordCompare.length && newPwdForm.passwordCompare.$error.match">Passwords do not match.</span>
                </div>
                <button type="submit" class="btn btn-block btn-success"
                        ng-disabled="newPwdForm.$invalid || newPwdForm.$error.match">RESET
                </button>

            </form>

            <footer></footer>
        </div>

    </div><!-- row -->

</div><!-- forgot password -->

<div ng-show="isResetSuccess">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Congratulation</h3>
            </div>
            <div class="panel-body">
                Your password was successful changed
            </div>
            <div align="center"><a ng-click="backToLogin()" href="">BACK TO LOGIN PAGE</a></div>
        </div>
        <footer></footer>
    </div>
</div><!-- row -->

