<div class="signinpanel">

    <div class="row">

        <div class="col-md-7">

            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> {{title}} <span>]</span></h1>
                </div><!-- logopanel -->
            </div><!-- signin0-info -->

        </div><!-- col-sm-7 -->

        <div class="col-md-5" class="col-md-5" ng-if="isSubmitCodeForm">
            <form name="resetCodeForm" ng-submit="submitResetCode()" novalidate>
                <!-- EMAIL-->
                <div class="form-group" ng-class="{ 'has-error' : (resetCodeForm.email.$invalid && !resetCodeForm.email.$pristine) || (isEmailNotFound && !resetCodeForm.email.$pristine)}">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="resetCodeFormData.email" ng-change="onTextBoxChange()">
                    <p ng-show="resetCodeForm.email.$invalid && !resetCodeForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    <p ng-show="(isEmailNotFound)" class="help-block">
                        Your email was not found.</p>
                </div>
                <!-- RESET CODE -->
                <div class="form-group">
                    <label>Reset Code</label>
                    <input type="text" name="resetCode" class="form-control" ng-model="resetCodeFormData.code">
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="resetCodeForm.$invalid">Submit</button>

            </form>
        </div>

        <div class="col-md-5" class="col-md-5" ng-if="isNewPwdForm">
            <form role="form" name="newPwdForm" novalidate="" ng-submit="submitNewPassword()">
                <!-- NEW PASSWORD FORM -->
                <div class="form-group" data-ng-class="{'has-error':!newPwdForm.password.$valid}"><label for="password">Password</label>
                    <input class="form-control" type="password" name="password" required="" data-ng-model="newPwdFormData.Password"/>
                    <span class="help-block" data-ng-show="myForm.password.$error.required">This is required.</span>
                </div>
                <div class="form-group" data-ng-class="{'has-error':!myForm.passwordCompare.$valid}"><label for="passwordCompare">Confirm Password</label>
                    <input class="form-control" type="password" name="passwordCompare" required="" data-ng-model="PasswordCompare" data-ng-match="newPwdFormData.Password" />
                    <span class="help-block" data-ng-show="newPwdForm.passwordCompare.$error.required">This is required.</span>
                    <span class="help-block" data-ng-show="newPwdForm.passwordCompare.$error.match">Passwords do not match.</span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="newPwdForm.$invalid || newPwdForm.$error.match">Submit</button>

            </form>
        </div>

    </div><!-- row -->

    <div class="signup-footer">
        <div class="pull-left">
        </div>
    </div>

</div><!-- forgot password -->

