<div class="signinpanel" ng-if="resetPwdForm">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> {{title}} <span>]</span></h1>
                </div><!-- logopanel -->
            </div><!-- signin0-info -->
        </div>
    </div>
    <div class="mb20"></div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form role="form" name="newPwdForm" novalidate="" ng-submit="submitNewPassword()" style="background-color: white">
                <!-- NEW PASSWORD FORM -->
                <div class="form-group" data-ng-class="{'has-error':!newPwdForm.password.$valid && !newPwdForm.password.$pristine}">
                    <input placeholder="New Password" class="form-control" type="password" name="password" required=""
                           data-ng-model="newPwdFormData.password"  ng-minlength="8"/>
                    <span class="help-block" data-ng-show="newPwdForm.password.length && newPwdForm.password.$error.required">This is required.</span>
                    <p ng-show="newPwdForm.password.$error.minlength" class="help-block">Username is too short.</p>
                </div>
                <div class="form-group" data-ng-class="{'has-error':!newPwdForm.passwordCompare.$valid && !newPwdForm.passwordCompare.$pristine}">
                    <input placeholder="Password Confirmation" class="form-control" type="password" name="passwordCompare" required
                           data-ng-model="newPwdFormData.passwordCompare" data-ng-match="newPwdFormData.password"/>
                    <span class="help-block"
                          data-ng-show="!newPwdForm.passwordCompare.$pristine && newPwdForm.passwordCompare.$error.required">This is required.</span>
                    <span class="help-block" data-ng-show="newPwdFormData.passwordCompare.length && newPwdForm.passwordCompare.$error.match">Passwords do not match.</span>
                </div>
                <button class="btn btn-block btn-success" ng-click="submitNewPassword()"
                        ng-disabled="newPwdForm.$invalid || newPwdForm.$error.match">Save password
                </button>

            </form>
        </div>
    </div>
    <footer></footer>

</div><!-- forgot password -->

<div ng-if="isResetSuccess">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Congratulation</h3>
            </div>
            <div class="panel-body">
                Your password was successful changed
            </div>
            <div align="center"><a ng-click="backToLogin()" href="">BACK TO SIGN IN PAGE</a></div>
        </div>
        <footer></footer>
    </div>
</div><!-- row -->

