<div class="notification-content">
<div class="panel panel-default">
  <div class="panel-heading">
  <h4 class="panel-title">Your messages</h4>
  <div class="panel-body panel-body-nopadding">

<div class="msg-list">
<div data-ng-repeat="item in messages track by item.id" class="results-list {{item.reads.length === 0 ? 'msg-new mgs-bgnew': ''}}">
<div class="media">
  <div class="media-body hand-over" data-ng-click="readMessage(item)">
    <h4 class="filename text-primary">{{item.title}}</h4>
    <p class="msg-content msg-quick" ng-if="item.title.indexOf(constant.MSG.NAIRA_EX_RATE_TITLE) > -1">{{item.message}}</p>
    <div class="msg-issue">
    <small class="text-muted">Sender: <strong>{{item.creator.username}}</strong></small>
    <small class="text-muted"> - {{item.created | date : 'MMM dd, yyyy hh:mm a'}}</small><br>
    </div>
  </div>
</div>
</div>

<div class="alert alert-info" data-ng-if="messages.length === 0">You have no message at this time</div>
</div>

</div>

<div class="panel-footer" data-ng-if="hasMore||allLoaded">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" data-ng-click="loadMore()" data-ng-if="hasMore">Load More</button>
                    </div>
                </div>
                <div data-ng-if="allLoaded" style="color: #77818e;">All Items have been loaded!</div>
            </div><!-- panel-footer -->
</div>
</div>
</div>