<div class="signinpanel" ng-if="isSubmitEmailForm">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> {{title}} <span>]</span></h1>
                </div><!-- logopanel -->
            </div><!-- signin0-info -->
        </div>
    </div>
    <div class="mb20"></div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Please fill your <strong>registered email</strong> to reset your password
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form name="userForm" ng-submit="submitEmail()" novalidate style="background-color: white">
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : (userForm.email.$invalid && !userForm.email.$pristine) || (isEmailNotFound && !userForm.email.$pristine)}">
                    <input placeholder="example@gmail.com" type="email" name="email" class="form-control" ng-model="verification.submittedEmail" ng-change="onTextBoxChange()">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    <p ng-show="(isEmailNotFound)" class="help-block">Your email was not found.</p>
                </div>
                <button type="submit" class="btn btn-block btn-success" ng-disabled="userForm.$invalid">RESET</button>
                <div class="mb10"></div>
                <div align="center" style="padding-bottom: 10px"><a ng-click="backToLogin()" style="color: #428bca;" href="">BACK TO LOGIN PAGE</a></div>
                <div class="loaders" align="center" ng-show="gifLoading">
                    <img src="../../../../assets/images/loaders/loader1.gif" alt="">
                </div>
            </form>
        </div>
    </div>
    <footer></footer>

</div><!-- forgot password -->

<div ng-show="isSubmitSuccess">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Your email was verified successfully</h3>
            </div>
            <div class="panel-body">
                We sent you an email with the active url to further process of password reset for your account, please help to check your email and click the link within 24 hours inbox
            </div>
            <div align="center"><a ng-click="backToLogin()" href="">BACK TO LOGIN PAGE</a></div>
        </div>

        <footer></footer>
    </div>
</div><!-- row -->

