<div class="signinpanel">

    <div class="row">

        <div class="col-md-2">

        </div>

        <div class="col-md-8" ng-if="isSubmitEmailForm">
            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> {{title}} <span>]</span></h1>
                    <br>
                    <h5>Please fill your registered email to process your resetting password request</h5>
                </div><!-- logopanel -->
            </div><!-- signin0-info -->

            <form name="userForm" ng-submit="submitEmail()" novalidate>
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : (userForm.email.$invalid && !userForm.email.$pristine) || (isEmailNotFound && !userForm.email.$pristine)}">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="verification.submittedEmail" ng-change="onTextBoxChange()">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                    {{verification.submittedEmail}}
                    <p ng-show="(isEmailNotFound)" class="help-block">
                        Your email was not found.</p>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

            </form>
        </div>
    </div><!-- row -->

    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2014. All Rights Reserved.
        </div>
        <div class="pull-right">
            Currency Swap
        </div>
    </div>

</div><!-- forgot password -->