<div col-md-2>

</div>

<div class="contentpanel">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" ng-click="onAllClick()"><strong>All</strong></a></li>
            <li class=""><a data-toggle="tab" ng-click="onActivatedClick()"><strong>Activated Users</strong></a></li>
            <li class=""><a href="" data-toggle="tab" ng-click="onPendingClick()"><strong>Pending Approval</strong></a></li>
        </ul>
        <div ng-if="!detailUserView" class="tab-content disabled">
            <div id="activeUser" class="tab-panel">
                <div class="table-responsive">
                    <div id="table1_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table" id="table1">
                            <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="sortType = 'fullName'; sortReverse = !sortReverse">
                                        Full name
                                        <span ng-show="sortType == 'fullName' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'fullName' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortType = 'userName'; sortReverse = !sortReverse">
                                        Username
                                        <span ng-show="sortType == 'userName' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'userName' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                                        Email
                                        <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortType = 'cellphone'; sortReverse = !sortReverse">
                                        Cellphone
                                        <span ng-show="sortType == 'cellphone' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'cellphone' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortType = 'registeredDate'; sortReverse = !sortReverse">
                                        Registered Date
                                        <span ng-show="sortType == 'registeredDate' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'registeredDate' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortType = 'expiredDate'; sortReverse = !sortReverse">
                                        Expired Date
                                        <span ng-show="sortType == 'expiredDate' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'expiredDate' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                                        Status
                                        <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users | orderBy:sortType:sortReverse | offset: (current - 1) * itemsPerPage | limitTo:itemsPerPage">
                                <td class="center">{{user.fullName}}</td>
                                <td class="center"><a href="" ng-click="showUserDetail(user.id)">{{user.username}}</a></td>
                                <td class="center">{{user.email}}</td>
                                <td class="center">{{user.cellphone}}</td>
                                <td class="center">N/A</td>
                                <td class="center">{{user.expiredDate}}</td>
                                <td class="center">{{user.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <ul uib-pagination
                            total-items="totalItems"
                            items-per-page= "itemsPerPage"
                            ng-model="current">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="detailUserView" class="panel panel-default">
            <div class="panel-heading">
                <h3><b>{{userDetail.username}}</b></h3>
            </div>
            <br>
            <div class="panel-body panel-body-nopadding">
                <form class="form-horizontal" form-bordered>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="username">Username</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.username" id="username" class="form-control" readonly="readonly"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="dob">Date of birth</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.birthday" id="dob" class="form-control" type="text">
                        </div>
                    </div>

                    <!-- EXPIRED DATE GOES HERE-->

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="cellPhone">Cell phone</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.cellphone" value="Read Only Input" id="cellPhone"
                                   class="form-control" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="email">Email</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.email" id="email" class="form-control" readonly="readonly"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="nationalId">Passport ID/National ID</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.nationalId" value="Read Only Input" id="nationalId"
                                   class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="address">Address</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.addresses[0].address" id="address" class="form-control"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="city">City</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.addresses[0].city" id="city" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="country">Country</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.addresses[0].country" id="country" class="form-control"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="postCode">Post code</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.addresses[0].postcode" id="postCode" class="form-control"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="profession">Profession</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.profession" id="profession" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Profession</label>
                        <div class="col-sm-5">
                            <input ng-model="userDetail.profession" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>
                        <div class="col-sm-5">
                            <select name="singleSelect" ng-model="userDetail.status.selected">
                                <option value="">---Please select---</option> <!-- not selected / blank option -->
                                <option value="{{userStatusesList.activated}}">{{userStatusesList.activated}}</option>
                                <option value="{{userStatusesList.blocked}}">{{userStatusesList.blocked}}</option>
                                <option value="{{userStatusesList.pending}}">{{userStatusesList.pending}}</option>
                            </select><br>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-4">
                        <button class="btn btn-success btn-block" ng-click="onSaveUserData()">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div col-md-2>

</div>