<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="signuppanel" ng-if="startRegister">
    <div class="row">

        <!--<div class="col-sm-2"></div>-->

        <div class="col-sm-6 col-sm-offset-3">

            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> Currency Swap <span>]</span></h1>
                    <!--<h1><span>[</span> {{title}} <span>]</span></h1>-->
                </div><!-- logopanel -->
            </div><!-- signin0-info -->
            <br>
            <form id="registerFormId" name="registerForm" ng-submit="onSubmit()" novalidate="novalidate">
                <h2 class="nomargin"><b><u>Register</u></b></h2>
                <br>

                <div class="form-group" ng-class="{ 'has-error' : (registerForm.username.$invalid && !registerForm.username.$pristine) || userExisted}">
                    <div class="mb10">
                        <label class="control-label"><b>Username</b></label> <span class="asterisk">*</span><a data-toggle="popover" data-trigger="hover" data-content="Username only containe [a-z], [0-9], '-', '_', '.'"><i style="font-size:15px; color: #4d4e4e" class="fa fa-question-circle" ng-click="showPopover()"></i></a>
                        <input ng-change="onUsernameChange()" type="text" name="username" class="form-control" ng-pattern="/^[a-zA-Z0-9\-\.\_]+$/" ng-model="user.username" focus-me="focusUsername" required>
                        <p ng-show="registerForm.username.$error.pattern" class="help-block ">Username is invalid.</p>
                        <p ng-show="userExisted" class="help-block ">Your chosen username is already in use</p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : registerForm.fullName.$invalid && !registerForm.fullName.$pristine }">
                    <div class="mb10">
                        <label class="control-label"><b>Full name</b></label>
                        <input type="text" name="fullName" class="form-control" ng-model="user.fullName" ng-minlength="3" ng-maxlength="45">
                        <p ng-show="registerForm.fullName.$error.minlength" class="help-block">Fullname is too short.</p>
                        <!--<p ng-show="registerForm.fullName.$error.maxlength" class="help-block">Fullname is too long.</p>-->
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : (registerForm.email.$invalid && !registerForm.email.$pristine) || emailExisted}">
                    <div class="mb10">
                        <label class="control-label"><b>Email</b></label> <span class="asterisk">*</span><a data-toggle="popover" data-trigger="hover" data-content="Important: Email must be valid"><i style="font-size:15px; color: #4d4e4e" class="fa fa-question-circle" ng-click="showPopover()"></i></a>
                        <input ng-change="onEmailChange()" type="email" name="email" class="form-control" ng-model="user.email" focus-me="focusEmail" required>
                        <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Email is not valid.</p>
                        <p ng-show="emailExisted" class="help-block">Your email is already in use</p>
                    </div>
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Profession</b></label>
                    <input class="form-control" type="text" ng-model="user.profession">
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : cellphoneExisted}">
                    <div class="mb10">
                        <label class="control-label"><b>Cellphone</b></label>
                        <input type="text" class="form-control" ng-model="user.cellphone" focus-me="focusCellphone">
                        <p ng-show="cellphoneExisted" class="help-block">Your cellphone number is already in use</p>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine}">
                    <label for="password"><b>Password</b></label> <span class="asterisk">*</span><a data-toggle="popover" data-trigger="hover" data-content="Password at least 8 characters"><i style="font-size:15px; color: #4d4e4e" class="fa fa-question-circle" ng-click="showPopover()"></i></a>
                    <input class="form-control" type="password" name="password" required data-ng-model="user.password" ng-minlength="8">
                    <p ng-show="registerForm.password.$error.minlength" class="help-block">Username is too short.</p>
                </div>

                <div class="form-group" data-ng-class="{'has-error' : registerForm.passwordCompare.$invalid && !registerForm.passwordCompare.$pristine}">
                    <label for="passwordCompare"><b>Re-type Password</b></label> <span class="asterisk">*</span>
                    <input class="form-control" type="password" name="passwordCompare" required data-ng-model="user.passwordCompare" data-ng-match="user.password"/>
                    <span class="help-block" data-ng-show="registerForm.passwordCompare.$error.match">Passwords do not match.</span>
                </div>

                <label class="control-label"><b>Birthday</b></label>

                <div class="form-group">
                    <!--<div class="col-sm-5">-->
                        <div class="input-group">
                            <!--<input type="text" id="dob" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.birthday"
                                   is-open="calendar.opened" datepicker-options="dateOptions" ng-required="true"-->
                            <input type="text" id="dob" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.birthday"
                                   is-open="calendar.opened" datepicker-options="dateOptions"
                                   close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-addon" style="height: 40px">
                                   <i class="glyphicon glyphicon-calendar" ng-click="openCalendar()"></i></button>
                                </span>
                        </div>
                </div>

                <!--<div class="mb10">
                    <label class="control-label"><b>Passport/NationalId</b></label>
                    <input class="form-control" type="text" ng-model="user.nationalId">
                </div>-->

                <div class="form-group"
                     ng-class="{ 'has-error' : nationalIdExisted}">
                    <div class="mb10">
                        <label class="control-label"><b>Passport/NationalId</b></label>
                        <input type="text" class="form-control" ng-model="user.nationalId" focus-me="focusNationalId">
                        <p ng-show="nationalIdExisted" class="help-block">Your National Id is already in use</p>
                    </div>
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Address</b></label>
                    <input class="form-control" type="text" ng-model="user.address">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>City</b></label>
                    <input class="form-control" type="text" ng-model="user.city">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Post Code</b></label>
                    <input class="form-control" type="text" ng-model="user.postcode">
                </div>

                <div class="mb10">
                    <country-state-select country="user.country" state="user.state"></country-state-select>
                </div>

                <br>
                <div class="row">
                    <h3>Bank Account</h3>
                </div>
                <br>

                <div class="mb10">
                    <label class="control-label"><b>Account Name</b></label>
                    <input class="form-control" type="text" ng-model="user.bankAccountName" maxlength="128">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Account Number</b></label>
                    <input class="form-control" type="text" ng-model="user.bankAccountNumber" maxlength="128">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Bank Name</b></label>
                    <input class="form-control" type="text" ng-model="user.bankName" maxlength="128">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Country</b></label>
                    <input class="form-control" type="text" ng-model="user.bankCountry" maxlength="128">
                </div>

                <br>
                <button type="submit" class="btn btn-success btn-block" ng-disabled="registerForm.$invalid">REGISTER</button>
                <div class="loaders" align="center" ng-show="gifLoading">
                    <img src="../../../assets/images/loaders/loader1.gif" alt="">
                </div>
            </form>
        </div><!-- col-sm-6 -->

        <!--<div class="col-sm-2"></div>-->

    </div><!-- row -->

    <div class="signup-footer">
        <div style="text-align: center;">
            &copy; Copyright © 2016. All rights reserved.
        </div>
    </div>

</div>

<div ng-if="registerSuccess">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Register Successfully</h3>
            </div>
            <div class="panel-body">
                The confirmation link has been sent to your email address - {{user.email}}.
                Please, check your email and click the link inside in order to verify your email.
                The confirmation link will be valid for a duration of 24 hours.
                <br>
                <br>
                <div align="center"><a ng-click="backToLogin()" href="">BACK TO LOGIN PAGE</a></div>
            </div>
        </div>


        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved.
            </div>
            <div class="pull-right">
                Currency Swap
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

<div ng-if="activeSuccess">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <br>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Activation successfully</h3>
            </div>
            <div class="panel-body">
                Thank you for your activation. Please wait for admin's approval. After 3 days, if You can not login to Currency Swap system, please help to contact <b>admin@gmail.com</b> for supports.
                <br>
                <br>
                <div align="center"><a ng-click="backToLogin()" href="">BACK TO LOGIN PAGE</a></div>
            </div>
        </div>


        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved.
            </div>
            <div class="pull-right">
                Currency Swap
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>