<div class="signuppanel" ng-show="startRegister">
    <div class="row">

        <!--<div class="col-sm-2"></div>-->

        <div class="col-sm-6 col-sm-offset-3">

            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> Currency Swap <span>]</span></h1>
                    <!--<h1><span>[</span> {{title}} <span>]</span></h1>-->
                </div><!-- logopanel -->
            </div><!-- signin0-info -->
            <br>
            <form id="registerFormId" name="registerForm" ng-submit="onSubmit()" novalidate="novalidate">
                <h2 class="nomargin"><b><u>Register</u></b></h2>
                <br>

                <div class="form-group" ng-class="{ 'has-error' : (registerForm.username.$invalid && !registerForm.username.$pristine) || userExisted}">
                    <div class="mb10">
                        <label class="control-label"><b>Username</b></label> <span class="asterisk">*</span>
                        <input ng-change="onUsernameChange()" type="text" name="username" class="form-control" ng-pattern="/^[a-zA-Z0-9\-\.\_]+$/" ng-model="user.username" ng-minlength="8" focus-me="focusUsername" required>
                        <p ng-show="registerForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        <p ng-show="registerForm.username.$error.pattern" class="help-block ">Username is invalid.</p>
                        <p ng-show="userExisted" class="help-block ">Your chosen username is already in use</p>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : registerForm.fullName.$invalid && !registerForm.fullName.$pristine }">
                    <div class="mb10">
                        <label class="control-label"><b>Full name</b></label>
                        <input type="text" name="fullName" class="form-control" ng-model="user.fullName" ng-minlength="3" ng-maxlength="45">
                        <p ng-show="registerForm.fullName.$error.minlength" class="help-block">Fullname is too short.</p>
                        <p ng-show="registerForm.fullName.$error.maxlength" class="help-block">Fullname is too long.</p>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : (registerForm.email.$invalid && !registerForm.email.$pristine) || emailExisted}">
                    <div class="mb10">
                        <label class="control-label"><b>Email</b></label> <span class="asterisk">*</span>
                        <input ng-change="onEmailChange()" type="email" name="email" class="form-control" ng-model="user.email" focus-me="focusEmail" required>
                        <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Email is not valid.</p>
                        <p ng-show="emailExisted" class="help-block">Your email is already in use</p>
                    </div>
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Profession</b></label>
                    <input class="form-control" type="text" ng-model="user.profession">
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : registerForm.cellphone.$invalid && !registerForm.cellphone.$pristine }">
                    <div class="mb10">
                        <label class="control-label"><b>Cell phone</b></label>
                        <input type="text" name="cellphone" class="form-control" ng-model="user.cellphone" focus-me="focusCellphone">
                        <p ng-show="registerForm.cellphone.$invalid && !registerForm.cellphone.$pristine"
                           class="help-block">Phone number is not valid.</p>
                    </div>
                </div>

                <div class="form-group" data-ng-class="{'has-error' : (registerForm.password.$invalid && !registerForm.password.$pristine) || registerForm.password.$error.minlength}">
                    <label for="password"><b>Password</b></label> <span class="asterisk">*</span>
                    <input class="form-control" type="password" name="password" required data-ng-model="user.password" ng-minlength="8">
                    <p ng-show="registerForm.password.$error.minlength" class="help-block">Password is too short.</p>
                </div>

                <div class="form-group" data-ng-class="{'has-error' : registerForm.passwordCompare.$invalid && !registerForm.passwordCompare.$pristine}">
                    <label for="passwordCompare"><b>Re-type Password</b></label> <span class="asterisk">*</span>
                    <input class="form-control" type="password" name="passwordCompare" required data-ng-model="user.passwordCompare" data-ng-match="user.password"/>
                    <span class="help-block" data-ng-show="registerForm.passwordCompare.$error.match">Passwords do not match.</span>
                </div>

                <label class="control-label"><b>Birthday</b></label>

                <div class="form-group">
                    <!--<div class="col-sm-5">-->
                        <p class="input-group">
                            <input type="text" id="dob" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="birthday"
                                   is-open="calendar.opened" datepicker-options="dateOptions" ng-required="true"
                                   close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCalendar()" style="height: 40px"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>

                        </p>
                    <!--</div>-->
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Address</b></label>
                    <input class="form-control" type="text" ng-model="user.address">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>City</b></label>
                    <input class="form-control" type="text" ng-model="user.city">
                </div>

                <div class="mb10">
                    <label class="control-label"><b>Post Code</b></label>
                    <input class="form-control" type="text" ng-model="user.postcode">
                </div>

                <div class="mb10">
                    <country-state-select country="user.country" state="user.state"></country-state-select>
                </div>

                <br>
                <button type="submit" class="btn btn-success btn-block" ng-disabled="registerForm.$invalid">REGISTER</button>
                <div class="loaders" align="center" ng-show="gifLoading">
                    <img src="../../../assets/images/loaders/loader1.gif" alt="">
                </div>
            </form>
        </div><!-- col-sm-6 -->

        <!--<div class="col-sm-2"></div>-->

    </div><!-- row -->

    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2014. All Rights Reserved.
        </div>
        <div class="pull-right">
            Currency Swap
        </div>
    </div>

    <script src="../../../assets/js/jquery-1.11.1.min.js"></script>
    <script src="../../../assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/modernizr.min.js"></script>
    <script src="../../../assets/js/jquery.sparkline.min.js"></script>
    <script src="../../../assets/js/jquery.cookies.js"></script>

    <script src="../../../assets/js/toggles.min.js"></script>
    <script src="../../../assets/js/retina.min.js"></script>

    <script src="../../../assets/js/select2.min.js"></script>

    <script src="../../../assets/js/custom.js"></script>

    <script>
        jQuery(document).ready(function(){

            "use strict";

            // Select2
            jQuery(".select2").select2({
                width: '100%',
                minimumResultsForSearch: -1
            });

            // Basic Form
            jQuery("#testForm").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });

            // Error Message In One Container
            jQuery("#basicForm2").validate({
                errorLabelContainer: jQuery("#basicForm2 div.error")
            });

            // With Checkboxes and Radio Buttons
            jQuery("#basicForm3").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });

            // Validation with select boxes
            jQuery("#basicForm4").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });

            // Date Picker
/*            jQuery('#datepicker').datepicker();

            jQuery('#datepicker-inline').datepicker();

            jQuery('#datepicker-multiple').datepicker({
                numberOfMonths: 3,
                showButtonPanel: true
            });*/
        });
    </script>
</div>

<div ng-show="registerSuccess">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Register Successfully</h3>
            </div>
            <div class="panel-body">
                We sent an active link to your email, please help to check and follow the instruction in that email.
                Please help to active your account within 24 hours.
            </div>
        </div>


        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved.
            </div>
            <div class="pull-right">
                Currency Swap
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

<div ng-show="activeSuccess">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">Activation successfully</h3>
            </div>
            <div class="panel-body">
                Thank you for your activation. Please wait for admin's approval. After 3 days, if You can not login to Currency Swap system, please help to contact <b>admin@gmail.com</b> for supports.
            </div>
        </div>


        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved.
            </div>
            <div class="pull-right">
                Currency Swap
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>