<div class="leftpanel">

<div class="logopanel">
    <h1><span>[</span> {{title}} <span>]</span></h1>
</div><!-- logopanel -->

<div class="leftpanelinner">

    <!-- This is only visible to small devices -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
        <div class="media userlogged">
            <img alt="" data-ng-src="{{user.avatarUrl}}" class="media-object">
            <div class="media-body">
                <h4>{{user.fullName}}</h4>
            </div>
        </div>
    </div>
    <h5 class="sidebartitle actitle">Account</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
        <li><a data-ng-click="accessMenuItem({'route': 'profile'})"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li><a data-ng-click="accessMenuItem({'route': 'notifications'})"><i class="glyphicon glyphicon-envelope"></i> <span>Notifications</span></a></li>
        <li><a data-ng-click="accessMenuItem({'route': 'help'})"><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
        <li><a data-ng-click="onLogout()"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
    </ul>
    <h5 class="sidebartitle">Navigation</h5>

</div><!-- leftpanelinner -->
</div><!-- leftpanel -->
  