<div class="row order-content" ng-if="!isDevice">
    <div class="col-md-8 order-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" ng-click="getWorkingOrders();"><strong>Working</strong></a></li>
            <li class=""><a href="" data-toggle="tab" ng-click="getSubmittedOrders();"><strong>Submitted</strong></a></li>
            <li class=""><a href="" data-toggle="tab" ng-click="getHistoryOrders();"><strong>History</strong></a></li>
        </ul>
        <div class="tab-content">
            <div id="workingOrders" class="tab-panel" ng-if="tab==1">
                <div class="table-responsive">
					<div id="swappingOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<div class="swapping-order-title" style="text-align: left; color: #159d21; font-size: 18px;">Swapping Orders</div>
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header">Order Id</th>
									<th class="col-sm-1 order-item-header">Date</th>
									<th class="col-sm-1 order-item-header">Expired Date</th>
									<th class="col-sm-1 order-item-header">Get</th>
									<th class="col-sm-1 order-item-header">Give</th>
									<th class="col-sm-1 order-item-header">Rate</th>
									
									<th class="col-sm-1 order-item-header">Initializer</th>
									<th class="col-sm-1 order-item-header">Accepter</th>
									<th class="col-sm-1 order-item-header">State</th>
									<th class="col-sm-2 order-item-header"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="swappingOrder in swappingOrders" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{swappingOrder.code}}">{{swappingOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{swappingOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date">{{swappingOrder.expired | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.get}} {{swappingOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.give}} {{swappingOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.rate}}</td>
									
									<td class="col-sm-1 order-item-content">{{swappingOrder.owner.username}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.accepter.username}}</td>
									<td class="col-sm-1 order-item-content order-status-{{swappingOrder.statusId}}">{{swappingOrder.status.name}}</td>
									<td class="col-sm-2">
										<div class="order-action">
											<div class="btn button-order-list button-cancel-swapping" ng-click="cancelSwappingOrder(swappingOrder.id);">Cancel</div>
											<div class="btn button-order-list button-confirm-swapping" ng-if="currentUser.username==swappingOrder.owner.username" ng-click="confirmSwappingOrder(swappingOrder.id);">Confirm</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div id="confirmedOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<div class="confirmed-order-title" style="text-align: left; color: #366144; font-size: 18px;">Confirmed Orders</div>
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header"  order-header>Order Id</th>
									<th class="col-sm-1 order-item-header">Date</th>
									<th class="col-sm-1 order-item-header">Expired Date</th>
									<th class="col-sm-1 order-item-header">Get</th>
									<th class="col-sm-1 order-item-header">Give</th>
									<th class="col-sm-1 order-item-header">Rate</th>
									
									<th class="col-sm-1 order-item-header">Initializer</th>
									<th class="col-sm-1 order-item-header">Accepter</th>
									<th class="col-sm-1 order-item-header">State</th>
									<th class="col-sm-2 order-item-header"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="confirmOrder in confirmOrders" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{confirmOrder.code}}/">{{confirmOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{confirmOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date" >{{confirmOrder.expired | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.get}} {{confirmOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.give}} {{confirmOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.rate}}</td>
									
									<td class="col-sm-1 order-item-content">{{confirmOrder.owner.username}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.accepter.username}}</td>
									<td class="col-sm-1 order-item-content order-status-{{confirmOrder.statusId}}">{{confirmOrder.status.name}}</td>
									<td class="col-sm-2">
										<div class="order-action">
											<div class="btn button-order-list button-cancel-confirm"  ng-if="(confirmOrder.statusId == 3) || currentUser.username!=confirmOrder.owner.username" ng-click="cancelConfirmedOrder(confirmOrder.id);">Cancel</div>
											<div class="btn button-order-list button-clear-confirm" ng-if="(confirmOrder.statusId == 3) || !checkStatusCurrentUserInActivity(confirmOrder.activities)" ng-click="clearConfirmedOrder(confirmOrder.id);">Clear</div>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
                </div>
<!--                 <ul uib-pagination
                    total-items="totalItems"
                    items-per-page= "itemsPerPage"
                    ng-model="current">
                </ul> -->
            </div>
            <div id="submittedOrders" class="tab-panel" ng-if="tab==2">
                <div class="table-responsive">
					<div id="submittedOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header">Order Id</th>
									<th class="col-sm-1 order-item-header">Date</th>
									<th class="col-sm-1 order-item-header">Expired Date</th>
									<th class="col-sm-1 order-item-header">Get</th>
									<th class="col-sm-1 order-item-header">Give</th>
									<th class="col-sm-1 order-item-header">Rate</th>
									<th class="col-sm-1 order-item-header">State</th>
									<th class="col-sm-2 order-item-header"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="submittedOrder in submittedOrders" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{submittedOrder.code}}">{{submittedOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{submittedOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date">{{submittedOrder.expired | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{submittedOrder.get}} {{submittedOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{submittedOrder.give}} {{submittedOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{submittedOrder.rate}}</td>
									<td class="col-sm-1 order-item-content order-status-{{submittedOrder.statusId}}">{{submittedOrder.status.name}}</td>
									<td class="col-sm-2">
										<div class="order-action">
											<div class="btn button-order-list button-cancel-submitted" ng-click="cancelSubmittedOrder(submittedOrder.id);">Cancel</div>
											<div class="btn button-order-list button-edit-submitted" ng-click="editSubmittedOrder(submittedOrder.code);">Edit</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
                </div>
<!--                 <ul uib-pagination
                    total-items="totalItems"
                    items-per-page= "itemsPerPage"
                    ng-model="current">
                </ul> -->
            </div>
			<div id="historyOrders" class="tab-panel" ng-if="tab==3">
                <div class="table-responsive">
					<div id="historyOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header">Order Id</th>
									<th class="col-sm-1 order-item-header">Date</th>
									<th class="col-sm-1 order-item-header">Expired Date</th>
									<th class="col-sm-1 order-item-header">Get</th>
									<th class="col-sm-1 order-item-header">Give</th>
									<th class="col-sm-1 order-item-header">Rate</th>
									<th class="col-sm-1 order-item-header">Initializer</th>
									<th class="col-sm-1 order-item-header">Accepter</th>
									<th class="col-sm-1 order-item-header">State</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="historyOrder in historyOrders" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{historyOrder.code}}">{{historyOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{historyOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date">{{historyOrder.expired | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.get}} {{historyOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.give}} {{historyOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.rate}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.owner.username}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.accepter.username}}</td>
									<td class="col-sm-1 order-item-content order-status-{{historyOrder.statusId}}">{{historyOrder.status.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
                </div>
<!--                 <ul uib-pagination
                    total-items="totalItems"
                    items-per-page= "itemsPerPage"
                    ng-model="current">
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="row order-content" ng-if="isDevice" style="font-size: 13px;">

	<div class="col-md-8 order-tabs cs-mobile">
		<ul class="nav nav-tabs">
			<li class="active"><a href=""
				class="tab-cs-mobile" data-toggle="tab"
				ng-click="getWorkingOrders();"><strong>Working</strong></a></li>
			<li class=""><a href=""
				class="tab-cs-mobile" data-toggle="tab"
				ng-click="getConfirmedOrders();"><strong>Confirmed</strong></a></li>

			<li class=""><a href="" class="tab-cs-mobile" data-toggle="tab"
				ng-click="getSubmittedOrders();"><strong>Submitted</strong></a></li>
			<li class=""><a href="" class="tab-cs-mobile" data-toggle="tab"
				ng-click="getHistoryOrders();"><strong>History</strong></a></li>
		</ul>
		<div class="tab-content ">
			<div id="workingOrders" class="tab-panel" ng-if="tab==1">
				<div id="swappingOrders">
<!-- 					<div class="row" style="text-align: left; color: #159d21; font-size: 18px;" ng-if="swappingOrders && swappingOrders.length > 0">Swapping
						Orders</div> -->

					<div ng-repeat="swappingOrder in swappingOrders" class="row order-item-mobile">
						<div>
							<a href="/#!/orders/{{swappingOrder.code}}"><span
								class="order-label-mobile">Order </span>{{swappingOrder.code}}</a>
						</div>
						<div >
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Date: </span>{{swappingOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Expired: </span>{{swappingOrder.created|
								filterDate}}
							</div>
						</div>
						<div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{swappingOrder.get}}
								{{swappingOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{swappingOrder.give}}
								{{swappingOrder.giveCurrency.code}}
							</div>
						</div>
						<div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{swappingOrder.rate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{swappingOrder.status.name}}
							</div>
						</div>
						<div>
								<span class="order-label-mobile">Initializer: </span>{{swappingOrder.owner.fullName
								|| swappingOrder.owner.username}}
						</div>
						<div>
								<span class="order-label-mobile">Accepter: </span>{{swappingOrder.accepter.fullName
								|| swappingOrder.accepter.username}}
						</div>
						<div >
							<div class="order-action">
								<div class="btn button-order-list button-cancel-swapping"
									ng-click="cancelSwappingOrder(swappingOrder.id);">Cancel</div>
								<div class="btn button-order-list button-confirm-swapping"
									ng-if="currentUser.username==swappingOrder.owner.username"
									ng-click="confirmSwappingOrder(swappingOrder.id);">Confirm</div>
							</div>


						</div>
					</div>
				</div>
				

			</div>
			<div id="confirmOrders" class="tab-panel" ng-if="tab==4">
				<div id="confirmOrders">
<!-- 					<div class="row"
						style="text-align: left; color: #366144; font-size: 18px; padding: 10px 0 0;"  ng-if="confirmOrders && confirmOrders.length > 0">Confirmed
						Orders</div>
 -->
					<div ng-repeat="confirmOrder in confirmOrders" class="row order-item-mobile">
						<div style="width: 100%;">
							<a href="/#!/orders/{{confirmOrder.code}}"><span
								class="order-label-mobile">Order </span>{{confirmOrder.code}}</a>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Date: </span>{{confirmOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Expired: </span>{{confirmOrder.created|
								filterDate}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{confirmOrder.get}}
								{{confirmOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{confirmOrder.give}}
								{{confirmOrder.giveCurrency.code}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{confirmOrder.rate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{confirmOrder.status.name}}
							</div>
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Initializer: </span>{{confirmOrder.owner.fullName
								|| confirmOrder.owner.username}}
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Accepter: </span>{{confirmOrder.accepter.fullName
								|| confirmOrder.accepter.username}}
						</div>

						<div style="width: 100%;">
							<div class="order-action">
								<div class="btn button-order-list button-cancel-confirm"
									ng-if="(confirmOrder.statusId == 3) || currentUser.username!=confirmOrder.owner.username"
									ng-click="cancelConfirmedOrder(confirmOrder.id);">Cancel</div>
								<div class="btn button-order-list button-clear-confirm"
									ng-if="(confirmOrder.statusId == 3) || !checkStatusCurrentUserInActivity(confirmOrder.activities)"
									ng-click="clearConfirmedOrder(confirmOrder.id);">Clear</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div id="submittedOrders" class="tab-panel" ng-if="tab==2">
				<div id="submittedOrders">
					<div ng-repeat="submittedOrder in submittedOrders" class="row order-item-mobile">
						<div style="width: 100%;">
							<a href="/#!/orders/{{submittedOrder.code}}"><span
								class="order-label-mobile">Order </span>{{submittedOrder.code}}</a>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Date: </span>{{submittedOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Expired: </span>{{submittedOrder.created|
								filterDate}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{submittedOrder.get}}
								{{submittedOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{submittedOrder.give}}
								{{submittedOrder.giveCurrency.code}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{submittedOrder.rate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{submittedOrder.status.name}}
							</div>
						</div>
						<div style="width: 100%;">
							<div class="order-action">
								<div class="btn button-order-list button-cancel-submitted"
									ng-click="cancelSubmittedOrder(submittedOrder.id);">Cancel</div>
								<div class="btn button-order-list button-edit-submitted"
									ng-click="editSubmittedOrder(submittedOrder.code);">Edit</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div id="historyOrders" class="tab-panel" ng-if="tab==3">
				<div id="historyOrders">
					<div ng-repeat="historyOrder in historyOrders" class="row"
						style="font-size: 12px; text-align: left; padding: 5px 0px; background: white; border-bottom: 1px solid #eee;">
						<div style="width: 100%;">
							<a href="/#!/orders/{{historyOrder.code}}"><span
								class="order-label-mobile">Order </span>{{historyOrder.code}}</a>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Date: </span>{{historyOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Expired: </span>{{historyOrder.created|
								filterDate}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{historyOrder.get}}
								{{historyOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{historyOrder.give}}
								{{historyOrder.giveCurrency.code}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{historyOrder.rate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{historyOrder.status.name}}
							</div>
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Initializer: </span>{{historyOrder.owner.fullName
								|| historyOrder.owner.username}}
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Accepter: </span>{{historyOrder.accepter.fullName
								|| historyOrder.accepter.username}}
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>