<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="detailOrderPanel">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Order {{order.code}}</h4>
			<div class="panel-body">
				<div class="row row-initialized nomargin row-order-status">
					<div class="col col-order-status order-status-1" ng-class="{'order-status-current' : orderStatus == statusType.SUBMITTED}">
						<div class="order-status-item"></div>
						<div class="order-status-label">Submitted</div>
					</div>
					<div class="col col-order-line" ng-class="{'col-order-line-pass' : orderStatusId > statusType.SUBMITTED_ID}">
						<div class="order-line"></div>
					</div>
					<div class="col col-order-status order-status-2" ng-class="{'order-status-current' : orderStatus == statusType.SWAPPING}">
						<div class="order-status-item"></div>
						<div class="order-status-label">Swapping</div>
					</div>
					<div class="col col-order-line" ng-class="{'col-order-line-pass' : orderStatusId > statusType.SWAPPING_ID}">
						<div class="order-line"></div>
					</div>
					<div class="col col-order-status order-status-3" ng-class="{'order-status-current' : orderStatus == statusType.CONFIRMED}">
						<div class="order-status-item"></div>
						<div class="order-status-label">Confirmed</div>
					</div>
					<div class="col col-order-line" ng-class="{'col-order-line-pass' : orderStatusId > statusType.CONFIRMED_ID}">
						<div class="order-line"></div>
					</div>
					<div ng-if="orderStatus != statusType.CANCELED">
						<div class="col col-order-status order-status-4" ng-class="{'order-status-current' : orderStatus == statusType.PENDING}">
							<div class="order-status-item"></div>
							<div class="order-status-label">Pending</div>
						</div>
						<div class="col col-order-line" ng-class="{'col-order-line-pass' : orderStatusId > statusType.PENDING_ID}">
							<div class="order-line"></div>
						</div>
						<div class="col col-order-status order-status-5" ng-class="{'order-status-current' : orderStatus == statusType.CLEARED}">
							<div class="order-status-item"></div>
							<div class="order-status-label">Cleared</div>
						</div>
					</div>
					<div ng-if="orderStatus == statusType.CANCELED">
						<div class="col col-order-status order-status-6" ng-class="{'order-status-current' : orderStatus == statusType.CANCELED}">
							<div class="order-status-item"></div>
							<div class="order-status-label">Canceled</div>
						</div>
					</div>
				</div>
				
				<div class="row row-initialized nomargin">
					<div class="col form-inline">
						<div class="row mb10 row-order-time">
							<label class="control-label col-md-3"><span>Created on </span> {{order.created | filterDate}}</label> 
							<label class="control-label col-md-3 row-order-time-update"><span>Updated on </span> {{order.updated | filterDate}}</label> 
						</div>
						<div class="row mb10 row-order-actor">
							<label class="control-label col-md-3"><span>Initializer </span> {{order.owner.fullName}}</label> 
							<label class="control-label col-md-3 row-order-actor-accepter" ng-if="order.accepterId"><span>Accepter </span> <span class="row-order-actor-accepter-value">{{order.accepter.fullName}}</span></label> 
						</div>
						<div class="row mb10 row-give">
							<label class="control-label col-md-2 row-title-give">Give</label> 
							<label class="control-label">{{order.give}} {{order.giveCurrency.code}} </label>
						</div>

						<div class="row mb10 row-get">
							<label class="control-label col-md-2 row-title-get">Get</label> 
							<label class="control-label">{{order.get}} {{order.getCurrency.code}} </label>
						</div>

						<div class="row mb10 row-rate">
							<label class="control-label col-md-2 row-title-rate">Rate</label> 
							<label class="control-label">{{order.rate}} </label>
						</div>

					</div>

				</div>
				<!-- panel-body -->

				<div class="panel-footer">
					<div class="row">
						<div class="row mb10">
							<div class="col"> 
								<button class="btn btn-danger btn-md nomagin" ng-click="onCancel();" ng-if="orderStatus != statusType.CLEARED && orderStatus != statusType.CANCELED">Cancel</button>
								<button class="btn btn-primary btn-md nomagin" ng-click="onEdit();" ng-if="orderStatus == statusType.SUBMITTED && isOwnerOrder">Edit</button>
								<button class="btn btn-success btn-md nomagin" ng-click="onConfirm();" ng-if="orderStatus == statusType.SWAPPING && isOwnerOrder">Confirm</button>
								<button class="btn btn-warning btn-md nomagin" ng-click="onClear();" ng-if="orderStatus == statusType.CONFIRMED || orderStatus == statusType.PENDING">Clear</button>
							</div>
						</div>

						<div class="loaders" align="center" ng-show="submitLoading">
							<img src="../../../assets/images/loaders/loader1.gif" alt="">
						</div>

					</div>
				</div>
				<!-- panel-footer -->
			</div>
		</div>
		<footer></footer>


	</div>
</div>