<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="createOrderPanel">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">Order {{orderCode}}</h4>
			<p>{{currentDate | filterDate}}</p>
		</div>
		<div class="panel-heading" ng-if="orderNotExisted">
			<h4 class="panel-title-error">Permission denied</h4>
		</div>
		<div class="panel-body" ng-if="!orderNotExisted">
			<div class="row row-create nomargin">
				<div class="col">
					<form id="orderCreateFormId" name="orderCreateForm" novalidate="novalidate">
						<div class="form-group mb10" ng-class="{ 'has-error' : (orderCreateForm.give.$invalid && !orderCreateForm.give.$pristine) || (orderCreateForm.giveCurrency.$invalid && !orderCreateForm.giveCurrency.$pristine)}">
							<label class="control-label">Give</label> <span class="asterisk">*</span>
							<div class="form-inline give-row">
								<div class="input-group">
									<input type="text" name="give" class="form-control" ng-model="updateOrder.give" format-currency ng-change="onChangeValue(FIXED_VALUE.GIVE);"  focus-me="focusGive" required>
								</div>
								<div class="input-group">
									<select name="giveCurrency" ng-model="updateOrder.giveCurrencyCode" class="form-control" ng-change="currencyChange()" required>
										<option ng-repeat="currency in currencies" value="{{currency.code}}">{{currency.code}} - {{currency.name}}</option>
									</select>
								</div>
								<div class="input-group">
									<div class="form-group">
										<label class="radio-inline"> <input type="radio" name="fixed" ng-model="updateOrder.fixed" value="{{FIXED_VALUE.GIVE}}">
											Fixed
										</label>
									</div>
								</div>
								<p ng-show="orderCreateForm.give.$invalid && !orderCreateForm.give.$pristine" class="help-block ">Give is invalid integer number.</p>
								<p ng-show="orderCreateForm.giveCurrency.$invalid && !orderCreateForm.giveCurrency.$pristine" class="help-block ">Give currency is invalid.</p>
							</div>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : (orderCreateForm.get.$invalid && !orderCreateForm.get.$pristine) || (orderCreateForm.getCurrency.$invalid && !orderCreateForm.getCurrency.$pristine)}">
							<div class="mb10">
								<label class="control-label">Get</label> <span class="asterisk">*</span>
								<div class="form-inline get-row">
									<div class="input-group">
										<input type="text" name="get" class="form-control" ng-model="updateOrder.get" format-currency ng-change="onChangeValue(FIXED_VALUE.GET);" focus-me="focusGet" required>
									</div>
									<div class="input-group">
										<select name="getCurrency" ng-model="updateOrder.getCurrencyCode" class="form-control" ng-change="currencyChange()" required>
											<option ng-repeat="currency in currencies" value="{{currency.code}}">{{currency.code}} - {{currency.name}}</option>
										</select>
									</div>
									<div class="input-group">
										<div class="form-group">
											<label class="radio-inline"> <input type="radio" name="fixed" ng-model="updateOrder.fixed" value="{{FIXED_VALUE.GET}}">
												Fixed
											</label>
										</div>
									</div>
								</div>
								<p ng-show="orderCreateForm.get.$invalid && !orderCreateForm.get.$pristine" class="help-block ">Get is invalid integer number.</p>
								<p ng-show="orderCreateForm.getCurrency.$invalid && !orderCreateForm.getCurrency.$pristine" class="help-block ">Get currency is invalid.</p>
							</div>
						</div>

						<div class="form-group"
							ng-class="{ 'has-error' : (orderCreateForm.rate.$invalid && !orderCreateForm.rate.$pristine) || (orderCreateForm.rateCurrency.$invalid && !orderCreateForm.rateCurrency.$pristine)}">
							<div class="mb10">
								<label class="control-label">Rate</label> <span
									class="asterisk">*</span>
								<div class="form-inline rate-row">
									<div class="input-group">
										<input type="number" name="rate" class="form-control" ng-model="updateOrder.rate" format-rate ng-change="onChangeValue(FIXED_VALUE.RATE);" focus-me="focusRate" required>
									</div>
									<div class="input-group">
										<div class="form-group">
											<label class="radio-inline"> <input type="radio" name="fixed" ng-model="updateOrder.fixed" value="{{FIXED_VALUE.RATE}}">
												Fixed
											</label>
										</div>
									</div>
									<div class="input-group" ng-if="suggested">
										<div class="form-group">
											<div class="alert alert-info suggestion-rate">
												<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
												<p ng-if="suggestedUSD">NGN to USD (Buy/Median/Sell): <strong>{{latestExRate.usDollarBuy}}/{{latestExRate.usDollarMedian}}/{{latestExRate.usDollarSell}}</strong></p>
												<p ng-if="suggestedEUR">NGN to EUR (Buy/Median/Sell): <strong>{{latestExRate.euroBuy}}/{{latestExRate.euroMedian}}/{{latestExRate.euroSell}}</strong></p>
												<p ng-if="suggestedGBP">NGN to GBP (Buy/Median/Sell): <strong>{{latestExRate.poundBuy}}/{{latestExRate.poundMedian}}/{{latestExRate.poundSell}}</strong></p>
											</div>
										</div>
									</div>
								</div>
								<p ng-show="orderCreateForm.rate.$invalid && !orderCreateForm.rate.$pristine" class="help-block ">Rate number is invalid.</p>
							</div>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : (orderCreateForm.rate.$invalid && !orderCreateForm.rate.$pristine) || (orderCreateForm.rateCurrency.$invalid && !orderCreateForm.rateCurrency.$pristine)}">
							<div class="mb10">
								<label class="control-label">Alive Period</label> <span class="asterisk">*</span>
								<div class="form-group">
									<label class="radio-inline" ng-repeat="expiredValue in EXPIRED_VALUE"> 
										<input type="radio" name="expired" ng-model="updateOrder.expired" value="{{expiredValue.key}}" ng-disabled="!checkShowOptionExpried(expiredValue.dayLive, updateOrder.created)"> {{expiredValue.value}}
									</label>
								</div>
							</div>
						</div>

						<div class="form-group has-error" ng-show="checkEqualCurrency() && (!orderCreateForm.giveCurrency.$pristine || !orderCreateForm.getCurrency.$pristine)">
							<p class="help-block">Give currency can not equal get currency.</p>
						</div>
						
						<div class="form-group has-error" ng-show="!checkValiedValue() && (!orderCreateForm.give.$pristine || !orderCreateForm.get.$pristine || !orderCreateForm.rate.$pristine)">
							<p class="help-block">Value number can not less than or equal 0</p>
						</div>

					</form>
				</div>
			</div>
			<!-- panel-body -->

			<div class="panel-footer" ng-if="!orderNotExisted">
				<div class="row">
					<div class="row mb10">
						<div class="col">
							<button class="btn btn-primary btn-md nomagin" ng-disabled="orderCreateForm.$invalid || checkEqualCurrency() || !checkValiedValue()" 
								ng-click="onSubmit();" ng-disabled="submitLoading">Save</button>
						</div>
					</div>
					
					<div class="row submit-error" align="center" ng-show="hasError">
						{{errorMessage}}
					</div>

					<div class="loaders" align="center" ng-show="submitLoading">
						<img src="../../../assets/images/loaders/loader1.gif" alt="">
					</div>

				</div>
			</div>
			<!-- panel-footer -->
		</div>

		<!-- <footer></footer> -->


	</div>
</div>