<div class="row order-content" ng-if="!isDevice" id="list-order">
    <div class="col-md-8 order-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="" data-toggle="tab" ng-click="getWorkingOrders();"><strong>Working</strong></a></li>
            <li class=""><a href="" data-toggle="tab" ng-click="getSubmittedOrders();"><strong>Submitted</strong></a></li>
            <li class=""><a href="" data-toggle="tab" ng-click="getHistoryOrders();"><strong>History</strong></a></li>
        </ul>
        <div class="tab-content">
            <div id="workingOrders" class="tab-panel" ng-if="tab==1">
                <div class="table-responsive">
					<div id="swappingOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<div class="swapping-order-title" style="text-align: left; color: #159d21; font-size: 18px;">Swapping Orders</div>
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('code', 'working')"><a href="">Order Id<span class="fa"  ng-class="{'reverse': reverse.working, 'fa-sort':(propertyName.working === 'code'), 'fa-unsorted': !(propertyName.working === 'code')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('created', 'working')"><a href="">Created Date <span class="fa" ng-class="{reverse: reverse.working, 'fa-sort':(propertyName.working === 'created'), 'fa-unsorted': !(propertyName.working === 'created')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('updated', 'working')"><a href="">Updated Date<span class="fa" ng-class="{reverse: reverse.working, 'fa-sort':(propertyName.working === 'updated'), 'fa-unsorted': !(propertyName.working === 'updated')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('get', 'working')"><a href="">Get<span class="fa" ng-class="{reverse: reverse.working, 'fa-sort':(propertyName.working === 'get'), 'fa-unsorted': !(propertyName.working === 'get')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('give', 'working')"><a href="">Give<span class="fa" ng-class="{reverse: reverse.working, 'fa-sort':(propertyName.working === 'give'), 'fa-unsorted': !(propertyName.working === 'give')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('rate', 'working')"><a href="">Rate<span class="fa" ng-class="{reverse: reverse.working, 'fa-sort':(propertyName.working === 'rate'), 'fa-unsorted': !(propertyName.working === 'rate')}"></span></a></th>
									<!-- <th class="col-sm-1 order-item-header" ng-click="sortBy('username', 'working')"><a href="">Initializer<span class="fa" ng-class="{reverse: reverse.working, 'fa-sort':(propertyName.working === 'username'), 'fa-unsorted': !(propertyName.working === 'username')}"></span></a></th>-->
									<th class="col-sm-1 order-item-header"><a href="">Initializer</a></th>
									<th class="col-sm-1 order-item-header"><a href="">Accepter</a></th>
									<th class="col-sm-1 order-item-header"><a href="">State</a></th>
									<th class="col-sm-2 order-item-header"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="swappingOrder in swappingOrders | orderBy:propertyName.working:reverse.working" class="order-row-{{$index % 2}}" >
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{swappingOrder.code}}">{{swappingOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{swappingOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date">{{swappingOrder.updated | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.get | filterCurrency}} {{swappingOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.give | filterCurrency}} {{swappingOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.rate | filterRate}}</td>
									
									<td class="col-sm-1 order-item-content">{{swappingOrder.owner.username}}</td>
									<td class="col-sm-1 order-item-content">{{swappingOrder.accepter.username}}</td>
									<td class="col-sm-1 order-item-content order-status-{{swappingOrder.statusId}}">{{swappingOrder.status.name}}</td>
									<td class="col-sm-2">
										<div class="order-action">
											<div class="btn button-order-list button-cancel-swapping" ng-click="cancelSwappingOrder(swappingOrder.id, swappingOrder.owner.username);">Cancel</div>
											<div class="btn button-order-list button-confirm-swapping" ng-if="currentUser.username==swappingOrder.owner.username" ng-click="confirmSwappingOrder(swappingOrder.id);">Confirm</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div ng-if="!swappingOrders|| swappingOrders.length == 0">No item found</div>
					</div>
					<div id="confirmedOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<div class="confirmed-order-title" style="text-align: left; color: #366144; font-size: 18px;">Confirmed Orders</div>
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('code', 'confirmed')"><a href="">Order Id<span class="fa"  ng-class="{'reverse': reverse.confirmed, 'fa-sort':(propertyName.confirmed === 'code'), 'fa-unsorted': !(propertyName.confirmed === 'code')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('created', 'confirmed')"><a href="">Created Date <span class="fa" ng-class="{reverse: reverse.confirmed, 'fa-sort':(propertyName.confirmed === 'created'), 'fa-unsorted': !(propertyName.confirmed === 'created')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('updated', 'confirmed')"><a href="">Updated Date<span class="fa" ng-class="{reverse: reverse.confirmed, 'fa-sort':(propertyName.confirmed === 'updated'), 'fa-unsorted': !(propertyName.confirmed === 'updated')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('get', 'confirmed')"><a href="">Get<span class="fa" ng-class="{reverse: reverse.confirmed, 'fa-sort':(propertyName.confirmed === 'get'), 'fa-unsorted': !(propertyName.confirmed === 'get')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('give', 'confirmed')"><a href="">Give<span class="fa" ng-class="{reverse: reverse.confirmed, 'fa-sort':(propertyName.confirmed === 'give'), 'fa-unsorted': !(propertyName.confirmed === 'give')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('rate', 'confirmed')"><a href="">Rate<span class="fa" ng-class="{reverse: reverse.confirmed, 'fa-sort':(propertyName.confirmed === 'rate'), 'fa-unsorted': !(propertyName.confirmed === 'rate')}"></span></a></th>
									<!-- <th class="col-sm-1 order-item-header" ng-click="sortBy('username', 'confirmed')"><a href="">Initializer<span class="fa" ng-class="{reverse: reverse.confirmed 'fa-sort':(propertyName.confirmed === 'username'), 'fa-unsorted': !(propertyName.confirmed === 'username')}"></span></a></th> -->
									<th class="col-sm-1 order-item-header"><a href="">Initializer</a></th>
									<th class="col-sm-1 order-item-header"><a href="">Accepter</a></th>
									<th class="col-sm-1 order-item-header"><a href="">State</a></th>
									<th class="col-sm-2 order-item-header"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="confirmOrder in confirmOrders | orderBy:propertyName.confirmed:reverse.confirmed" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{confirmOrder.code}}/">{{confirmOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{confirmOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date" >{{confirmOrder.updated | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.get | filterCurrency}} {{confirmOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.give | filterCurrency}} {{confirmOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.rate | filterRate}}</td>
									
									<td class="col-sm-1 order-item-content">{{confirmOrder.owner.username}}</td>
									<td class="col-sm-1 order-item-content">{{confirmOrder.accepter.username}}</td>
									<td class="col-sm-1 order-item-content order-status-{{confirmOrder.statusId}}">{{confirmOrder.status.name}}</td>
									<td class="col-sm-2">
										<div class="order-action">
											<div class="btn button-order-list button-cancel-confirm" ng-click="cancelConfirmedOrder(confirmOrder.id, confirmOrder.statusId);" ng-if="(confirmOrder.statusId != 4)">Cancel</div>
											<div class="btn button-order-list button-clear-confirm" ng-if="(confirmOrder.statusId == 3) || !checkStatusCurrentUserInActivity(confirmOrder.activities)" ng-click="clearConfirmedOrder(confirmOrder.id, confirmOrder.statusId);">Clear</div>
										</div>
									</td>

								</tr>

							</tbody>
						</table>
						<div ng-if="!confirmOrders|| confirmOrders.length == 0">No item found</div>
					</div>
                </div>
<!--                 <ul uib-pagination
                    total-items="totalItems"
                    items-per-page= "itemsPerPage"
                    ng-model="current">
                </ul> -->
            </div>
            <div id="submittedOrders" class="tab-panel" ng-if="tab==2">
                <div class="table-responsive">
					<div id="submittedOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<table class="table table-striped2">
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('code', 'submitted')"><a href="">Order Id<span class="fa"  ng-class="{'reverse': reverse.submitted, 'fa-sort':(propertyName.submitted === 'code'), 'fa-unsorted': !(propertyName.submitted === 'code')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('created', 'submitted')"><a href="">Created Date <span class="fa" ng-class="{reverse: reverse.submitted, 'fa-sort':(propertyName.submitted === 'created'), 'fa-unsorted': !(propertyName.submitted === 'created')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('updated', 'submitted')"><a href="">Updated Date<span class="fa" ng-class="{reverse: reverse.submitted, 'fa-sort':(propertyName.submitted === 'updated'), 'fa-unsorted': !(propertyName.submitted === 'updated')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('get', 'submitted')"><a href="">Get<span class="fa" ng-class="{reverse: reverse.submitted, 'fa-sort':(propertyName.submitted === 'get'), 'fa-unsorted': !(propertyName.submitted === 'get')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('give', 'submitted')"><a href="">Give<span class="fa" ng-class="{reverse: reverse.submitted, 'fa-sort':(propertyName.submitted === 'give'), 'fa-unsorted': !(propertyName.submitted === 'give')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('rate', 'submitted')"><a href="">Rate<span class="fa" ng-class="{reverse: reverse.submitted, 'fa-sort':(propertyName.submitted === 'rate'), 'fa-unsorted': !(propertyName.submitted === 'rate')}"></span></a></th>
									<th class="col-sm-1 order-item-header"><a href="">State</a></th>
									<th class="col-sm-2 order-item-header"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="submittedOrder in submittedOrders | orderBy:propertyName.submitted:reverse.submitted" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{submittedOrder.code}}">{{submittedOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{submittedOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date">{{submittedOrder.expired | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{submittedOrder.get | filterCurrency}} {{submittedOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{submittedOrder.give | filterCurrency}} {{submittedOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{submittedOrder.rate | filterRate}}</td>
									<td class="col-sm-1 order-item-content order-status-{{submittedOrder.statusId}}">{{submittedOrder.status.name}}</td>
									<td class="col-sm-2">
										<div class="order-action">
											<div class="btn button-order-list button-cancel-submitted" ng-click="cancelSubmittedOrder(submittedOrder.id);">Cancel</div>
											<div class="btn button-order-list button-edit-submitted" ng-click="editSubmittedOrder(submittedOrder.code);">Edit</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div ng-if="!submittedOrders|| submittedOrders.length == 0">No item found</div>
					</div>
                </div>
<!--                 <ul uib-pagination
                    total-items="totalItems"
                    items-per-page= "itemsPerPage"
                    ng-model="current">
                </ul> -->
            </div>
			<div id="historyOrders" class="tab-panel" ng-if="tab==3">
                <div class="table-responsive">
					<div id="historyOrders" class="dataTables_wrapper no-footer" style="overflow: auto">
						<table class="table table-striped2" >
							<thead>
								<tr>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('code', 'history')"><a href="">Order Id<span class="fa"  ng-class="{'reverse': reverse.history, 'fa-sort':(propertyName.history === 'code'), 'fa-unsorted': !(propertyName.history === 'code')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('created', 'history')"><a href="">Created Date <span class="fa" ng-class="{reverse: reverse.history, 'fa-sort':(propertyName.history === 'created'), 'fa-unsorted': !(propertyName.history === 'created')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('updated', 'history')"><a href="">Updated Date<span class="fa" ng-class="{reverse: reverse.history, 'fa-sort':(propertyName.history === 'updated'), 'fa-unsorted': !(propertyName.history === 'updated')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('get', 'history')"><a href="">Get<span class="fa" ng-class="{reverse: reverse.history, 'fa-sort':(propertyName.history === 'get'), 'fa-unsorted': !(propertyName.history === 'get')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('give', 'history')"><a href="">Give<span class="fa" ng-class="{reverse: reverse.history, 'fa-sort':(propertyName.history === 'give'), 'fa-unsorted': !(propertyName.history === 'give')}"></span></a></th>
									<th class="col-sm-1 order-item-header" ng-click="sortBy('rate', 'history')"><a href="">Rate<span class="fa" ng-class="{reverse: reverse.history, 'fa-sort':(propertyName.history === 'rate'), 'fa-unsorted': !(propertyName.history === 'rate')}"></span></a></th>
									<!-- <th class="col-sm-1 order-item-header" ng-click="sortBy('username', 'history')"><a href="">Initializer<span class="fa" ng-class="{reverse: reverse.history 'fa-sort':(propertyName.history === 'username'), 'fa-unsorted': !(propertyName.history === 'username')}"></span></a></th> -->
									<th class="col-sm-1 order-item-header"><a href="">Initializer</a></th>
									<th class="col-sm-1 order-item-header"><a href="">Accepter</a></th>
									<th class="col-sm-1 order-item-header"><a href="">State</a></th>

									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="historyOrder in historyOrders | orderBy:propertyName.history:reverse.history" class="order-row-{{$index % 2}}">
									<td class="col-sm-1 order-item-content"><a href="/#!/orders/{{historyOrder.code}}">{{historyOrder.code}}</a></td>
									<td class="col-sm-1 order-item-content order-date">{{historyOrder.created | filterDate}}</td>
									<td class="col-sm-1 order-item-content order-date">{{historyOrder.updated | filterDate}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.get | filterCurrency}} {{historyOrder.getCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.give | filterCurrency}} {{historyOrder.giveCurrency.code}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.rate | filterRate}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.owner.username}}</td>
									<td class="col-sm-1 order-item-content">{{historyOrder.accepter.username}}</td>
									<td class="col-sm-1 order-item-content order-status-{{historyOrder.statusId}}">{{historyOrder.status.name}}</td>
								</tr>
							</tbody>
						</table>
						<div ng-if="!historyOrders|| historyOrders.length == 0">No item found</div>
					</div>
					
                </div>
<!--                 <ul uib-pagination
                    total-items="totalItems"
                    items-per-page= "itemsPerPage"
                    ng-model="current">
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="row order-content" ng-if="isDevice" style="font-size: 13px;">

	<div class="col-md-8 order-tabs cs-mobile">
		<ul class="nav nav-tabs">
			<li class="active"><a href=""
				class="tab-cs-mobile" data-toggle="tab"
				ng-click="getWorkingOrders();"><strong>Swapping</strong></a></li>
			<li class=""><a href=""
				class="tab-cs-mobile" data-toggle="tab"
				ng-click="getConfirmedOrders();"><strong>Confirmed</strong></a></li>

			<li class=""><a href="" class="tab-cs-mobile" data-toggle="tab"
				ng-click="getSubmittedOrders();"><strong>Submitted</strong></a></li>
			<li class=""><a href="" class="tab-cs-mobile" data-toggle="tab"
				ng-click="getHistoryOrders();"><strong>History</strong></a></li>
		</ul>
		<div class="tab-content ">
			<div id="workingOrders" class="tab-panel" ng-if="tab==1">
				<div id="swappingOrders" if="swappingOrders && swappingOrders.length >0">
<!-- 					<div class="row" style="text-align: left; color: #159d21; font-size: 18px;" ng-if="swappingOrders && swappingOrders.length > 0">Swapping
						Orders</div> -->

					<div ng-repeat="swappingOrder in swappingOrders" class="row order-item-mobile">
						<div>
							<a href="/#!/orders/{{swappingOrder.code}}"><span
								class="order-label-mobile">Order </span>{{swappingOrder.code}}</a>
						</div>
						<div >
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Created: </span>{{swappingOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Updated: </span>{{swappingOrder.updated|
								filterDate}}
							</div>
						</div>
						<div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{swappingOrder.get| filterCurrency}}
								{{swappingOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{swappingOrder.give| filterCurrency}}
								{{swappingOrder.giveCurrency.code}}
							</div>
						</div>
						<div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{swappingOrder.rate | filterRate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{swappingOrder.status.name}}
							</div>
						</div>
						<div>
								<span class="order-label-mobile">Initializer: </span>{{swappingOrder.owner.fullName
								|| swappingOrder.owner.username}}
						</div>
						<div>
								<span class="order-label-mobile">Accepter: </span>{{swappingOrder.accepter.fullName
								|| swappingOrder.accepter.username}}
						</div>
						<div >
							<div class="order-action">
								<div class="btn button-order-list button-cancel-swapping"
									ng-click="cancelSwappingOrder(swappingOrder.id, swappingOrder.owner.username);">Cancel</div>
								<div class="btn button-order-list button-confirm-swapping"
									ng-if="currentUser.username==swappingOrder.owner.username"
									ng-click="confirmSwappingOrder(swappingOrder.id);">Confirm</div>
							</div>


						</div>
					</div>
				</div>
				<div ng-if="!swappingOrders || swappingOrders.length == 0">No item found</div>

			</div>
			<div id="confirmOrders" class="tab-panel" ng-if="tab==4">
				<div id="confirmOrders">
<!-- 					<div class="row"
						style="text-align: left; color: #366144; font-size: 18px; padding: 10px 0 0;"  ng-if="confirmOrders && confirmOrders.length > 0">Confirmed
						Orders</div>
 -->
					<div ng-repeat="confirmOrder in confirmOrders" class="row order-item-mobile">
						<div style="width: 100%;">
							<a href="/#!/orders/{{confirmOrder.code}}"><span
								class="order-label-mobile">Order </span>{{confirmOrder.code}}</a>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Created: </span>{{confirmOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Updated: </span>{{confirmOrder.updated|
								filterDate}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{confirmOrder.get| filterCurrency}}
								{{confirmOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{confirmOrder.give| filterCurrency}}
								{{confirmOrder.giveCurrency.code}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{confirmOrder.rate | filterRate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{confirmOrder.status.name}}
							</div>
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Initializer: </span>{{confirmOrder.owner.fullName
								|| confirmOrder.owner.username}}
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Accepter: </span>{{confirmOrder.accepter.fullName
								|| confirmOrder.accepter.username}}
						</div>

						<div style="width: 100%;">
							<div class="order-action">
								<div class="btn button-order-list button-cancel-confirm"
									ng-if="(confirmOrder.statusId != 4)"
									ng-click="cancelConfirmedOrder(confirmOrder.id, confirmOrder.statusId);">Cancel</div>
								<div class="btn button-order-list button-clear-confirm"
									ng-if="(confirmOrder.statusId == 3) || !checkStatusCurrentUserInActivity(confirmOrder.activities)"
									ng-click="clearConfirmedOrder(confirmOrder.id, confirmOrder.statusId);">Clear</div>
							</div>


						</div>
					</div>
					<div ng-if="!confirmOrders || confirmOrders.length == 0">No item found</div>
				</div>
			</div>
			<div id="submittedOrders" class="tab-panel" ng-if="tab==2">
				<div id="submittedOrders">
					<div ng-repeat="submittedOrder in submittedOrders" class="row order-item-mobile">
						<div style="width: 100%;">
							<a href="/#!/orders/{{submittedOrder.code}}"><span
								class="order-label-mobile">Order </span>{{submittedOrder.code}}</a>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Created: </span>{{submittedOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Expired: </span>{{submittedOrder.expired|
								filterDate}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{submittedOrder.get| filterCurrency}}
								{{submittedOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{submittedOrder.give| filterCurrency}}
								{{submittedOrder.giveCurrency.code}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{submittedOrder.rate | filterRate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{submittedOrder.status.name}}
							</div>
						</div>
						<div style="width: 100%;">
							<div class="order-action">
								<div class="btn button-order-list button-cancel-submitted"
									ng-click="cancelSubmittedOrder(submittedOrder.id);">Cancel</div>
								<div class="btn button-order-list button-edit-submitted"
									ng-click="editSubmittedOrder(submittedOrder.code);">Edit</div>
							</div>

						</div>
					</div>
					<div ng-if="!submittedOrders || submittedOrders.length == 0">No item found</div>
				</div>
			</div>
			<div id="historyOrders" class="tab-panel" ng-if="tab==3">
				<div id="historyOrders">
					<div ng-repeat="historyOrder in historyOrders" class="row"
						style="font-size: 12px; text-align: left; padding: 5px 0px; background: white; border-bottom: 1px solid #eee;">
						<div style="width: 100%;">
							<a href="/#!/orders/{{historyOrder.code}}"><span
								class="order-label-mobile">Order </span>{{historyOrder.code}}</a>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Created: </span>{{historyOrder.created|
								filterDate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Closed: </span>{{historyOrder.updated|
								filterDate}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Get: </span>{{historyOrder.get | filterCurrency}}
								{{historyOrder.getCurrency.code}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Give: </span>{{historyOrder.give| filterCurrency}}
								{{historyOrder.giveCurrency.code}}
							</div>
						</div>
						<div style="width: 100%;">
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">Rate: </span>{{historyOrder.rate | filterRate}}
							</div>
							<div style="width: 50%; float: left;">
								<span class="order-label-mobile">State: </span>{{historyOrder.status.name}}
							</div>
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Initializer: </span>{{historyOrder.owner.fullName
								|| historyOrder.owner.username}}
						</div>
						<div style="width: 100%;">
								<span class="order-label-mobile">Accepter: </span>{{historyOrder.accepter.fullName
								|| historyOrder.accepter.username}}
						</div>

					</div>
					<div ng-if="!historyOrders || historyOrders.length == 0">No item found</div>
				</div>
			</div>
		</div>
	</div>
</div>