<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <h4>Payment evidence</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <img ng-src="/config/evidence?orderCode={{orderCode}}&username={{requestedUsername}}&randomNum={{randomNumImg}}" onerror="this.src='/assets/images/notfound.png'">
        </div>
    </div>
    <div class="modal-footer" style="clear:both;">
        <button class="btn btn-primary" ng-click="onOK()">OK</button>
    </div>

</div>