<!--<!DOCTYPE html>     <script src="../../../assets/js/html5shiv.js"></script>     <script src="../../../assets/js/respond.min.js"></script>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" type="image/png">

    <title>Bracket Responsive Bootstrap3 Admin</title>

    <script src="../../../bower_components/angular/angular.js"></script>
    <script src="../../../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../../bower_components/angular-cookies/angular-cookies.min.js"></script>

    &lt;!&ndash;<link href="app/assets/css/style.default.css" rel="stylesheet">&ndash;&gt;
    <link href="../../../assets/css/style.default.css" rel="stylesheet">

    &lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;
    &lt;!&ndash;[if lt IE 9]>
<![endif]&ndash;&gt;
</head>

<body class="signin">


<section>-->

<div class="signinpanel">

    <div class="row">

        <div class="col-md-7">

            <div class="signin-info">
                <div class="logopanel">
                    <h1><span>[</span> {{test}} <span>]</span></h1>
                </div><!-- logopanel -->

                <div class="mb20"></div>

<!--                <ul>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Fully Responsive Layout</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> HTML5/CSS3 Valid</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Retina Ready</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> WYSIWYG CKEditor</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>
                </ul>-->
                <div class="mb20"></div>
                <strong>Not a member? <a href="signup.html">Sign Up</a></strong>
            </div><!-- signin0-info -->

        </div><!-- col-sm-7 -->

        <div class="col-md-5">

            <form method="post" action="index.html">
                <h4 class="nomargin">Sign In</h4>
                <p class="mt5 mb20">Login to access your account.</p>

                <input type="text" class="form-control uname" placeholder="Username"/>
                <input type="password" class="form-control pword" placeholder="Password"/>
                <a href="">
                    <small>Forgot Your Password?</small>
                </a>
                <button class="btn btn-success btn-block">Sign In</button>

            </form>
        </div><!-- col-sm-5 -->

    </div><!-- row -->

    <div class="signup-footer">
        <div class="pull-left">
            <!--&copy; 2014. All Rights Reserved. Bracket Bootstrap 3 Admin Template-->
        </div>
        <!--<div class="pull-right">
            Created By: <a href="http://themepixels.com/" target="_blank">ThemePixels</a>
        </div>-->
    </div>

</div><!-- signin -->

<!--

</section>

<script src="../../../assets/js/jquery-1.11.1.min.js"></script>
<script src="../../../assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/modernizr.min.js"></script>
<script src="../../../assets/js/jquery.sparkline.min.js"></script>
<script src="../../../assets/js/jquery.cookies.js"></script>

<script src="../../../assets/js/toggles.min.js"></script>
<script src="../../../assets/js/retina.min.js"></script>

<script src="../../../assets/js/custom.js"></script>

</body>
</html>-->