{
  "title" : "Currency Swap",
  "redis": {
      "host" : "localhost",
      "port" : 6379,
      "db"   : 10,
      "pass" : "p@55w0rd",
      "ttl"  : 3600,
      "disableTTL": false,
      "prefix" : "cs-app:"
  },
  "paging" : {
      "activityLogs": 4
  },
  "dateFormat" : {
      "datetime": "dd-mm-yy HH:MM",
      "date": "mmm dd,yyyy",
      "time": "HH:MM:ss"
  },
  "media": {
  },
  "logs" : "/home/vietvh/Workspace/logs",
  "tokenExpired" : "7 d"
}
