ENABLE_DEBUG=false
ENABLE_LOG4J=true
LOG_LEVEL=INFO

APP_NAME="Currency Swap"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=2
REDIS_PASSWORD=""
REDIS_PREFIX="currencysess:"
REDIS_TTL=3600

DATABASE_CONNECTOR="mysql"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_URL=""
DATABASE_NAME="CurrencySwapDB"
DATABASE_USER="CSwapUser"
DATABASE_PASSWORD=""

SMTP_HOST="localhost"
SMTP_PORT="25"
SMTP_USER=""
SMTP_PASSWORD=""

SYSTEM_EMAIL_FROM="currencyswap@com"
SYSTEM_EMAIL_SUBJECT="[Currency-Swap]"

SYSTEM_DIR_MEDIA="/tmp/"
SYSTEM_DIR_LOGS="/tmp/"

NOTIFY_EXPIRE_BEFORE_DAYS=1
SCHEDULE_CHECK_EXPIRED="00 00,10,20,30,40,50 * * * *"