<div class="bloc-country form-group" style="margin-right: 5px ; margin-left: 5px;margin-bottom:0px">
    <div class="row">
        <div class="mb10">
            <label for="country">{{countryLabel}}</label>
            <select name="country" ng-change="selectCountry()" ng-model="country" required class="form-control">
                <option ng-repeat="theCountry in countries track by $index" value="{{theCountry}}">{{theCountry}}</option>
            </select>
        </div>
    </div>
</div>
<div class="bloc-state form-group" style="margin-right: 5px ; margin-left: 5px">
    <div class="row">
        <div class="mb10">
            <label for="state" ng-show="states">{{stateLabel}}</label>
            <select name="state" ng-model="state" ng-show="states" required class="form-control">
                <option ng-repeat="optStates in states track by $index" value="{{optStates}}">{{optStates}}</option>
            </select>
        </div>
    </div>
</div>